# Python
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

# venv
.venv/
venv/
.env

# caches (optional)
.cache/
.nv/
.ipython/
.jupyter/

# project outputs you DON'T want on git
artifacts/
data/
infer_images/
tmp/

# ---- track only trained model files ----
models/*
!models/*.joblib
!models/.gitkeep

# ====== allow models (KEEP only joblib) ======
models/*
!models/*.joblib
!models/.gitkeep
